body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

ul {
    list-style: none;
}

a {
text-decoration: none;
}

button {
    cursor: pointer;
}

.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

/**===============HEADER================ */

.header {}

.header-navigation {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-color{
    color: #2e2f42;
}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link:hover, .header-menu-link:focus {
    color: #404bbf;
}

.adress {
    font-style: normal;
}

.header-contact-list {}

.header-contact-item {}

.header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: #404bbf;
}

/** ========================================== */

/** ==================HERO=================== */

.hero {
    background: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-order-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
}

.hero-order-btn:hover, .hero-order-btn:focus {
    background-color: #404bbf;
}

/** ========================================== */

/** =================FEATURES================== */

.features {}

.features-list {}

.features-item {}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/** ========================================== */

/** ==================TEAM==================== */

.team {
    background: #f4f4fd;
}

.team-title {}

.team-list {}

.team-item {
    background: #fff;
}

.team-item-picture {}

.team-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-item-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/** ========================================== */

/** ================PORTFOLIO================= */

.portfolio {}

.portfolio-title {}

.portfolio-menu-list {}

.portfolio-menu-item {}

.portfolio-menu-item-picture {}

.portfolio-menu-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-menu-item-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/** ========================================== */

/** ==================FOOTER=================== */

.footer {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/** ========================================== */