body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

h1, h2, h3, p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a {
text-decoration: none;
color: currentColor;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    align-items: center;
}

/**===============HEADER================ */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-color{
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.header-menu-link:hover, .header-menu-link:focus {
    color: #404bbf;
}

.adress {
    font-style: normal;
    margin-left: auto;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-contact-item {}

.header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: #404bbf;
}

/** ========================================== */

/** ==================HERO=================== */

.hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-order-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
}

.hero-order-btn:hover, .hero-order-btn:focus {
    background-color: #404bbf;
}

/** ========================================== */

/** =================FEATURES================== */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {}

.features-item {}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features-wrap {
    padding: 120px 156px 120px 156px;
    margin: 0 auto;
}

/** ========================================== */

/** ==================TEAM==================== */

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 164px;
}

.team-list {}

.team-item {
    background: #fff;
}

.team-item-picture {}

.team-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-item-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/** ========================================== */

/** ================PORTFOLIO================= */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.portfolio-menu-list {}

.portfolio-menu-item {}

.portfolio-menu-item-picture {}

.portfolio-menu-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-menu-item-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/** ========================================== */

/** ==================FOOTER=================== */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/** ========================================== */